<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scal=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Facture</title>
</head>
<body>
    <h1>Facture</h1>
    <input type="submit" values="ENVOYER" name="btn">
    <input type="text" placeholder="Entrez votre nom svp !" name="Prenom">
    <input type="text" placeholder="Entrez votre prénom svp !" name="Nom">

</body>
</html>